<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Vue tutorial</title>

	<link rel="stylesheet" href="style.css" type="text/css" media="screen" />

</head>

<body>

    <div id="app">
        {{ message }}
    </div>

    <div id="app2">
        <span v-bind:title="message">Mouse over this...</span>
    </div>

    <div id="app3">
        <p v-if="seen">Now you see me...</p>
    </div>

    <div id="app4">
        <ol>
            <li v-for="todo in todos">{{ todo.text }}</li>
        </ol>
    </div>

    <div id="app5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse message</button>
    </div>

    <div id="app6">
        <p>{{ message}}</p>
        <input v-model="message">
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="scripts/app.js"></script>

</body>
</html>
